@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* GENERAL CSS */
  html, body {
    padding: 0;
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
  }

  h1 {
    font-family: 'Poppins', sans-serif;
  }

  p {
    font-family: 'Anonymous Pro', monospace;
  }

  section {
    margin: auto;
    width: 83%;
  }

  @media only screen and (max-width: 600px) {
    section {
      width: 92%;
    }
  }

/* CARD */
  .card {
    height: 27rem;
    transform-style: preserve-3d;
  }

  .js-tilt-glare {
    border-radius: 0.5rem;
  }

  .inner {
    transition: .1s ease-in-out;
  }

  .card:hover .inner {
    transform: translateZ(35px);
  }

/* COLOR PALLETE */
  .bg-color-1 {
    background-color: #ff0066;
  }

  .bg-color-2 {
    background-color: rgba(128, 128, 128, 0.05);
  }

  .bg-color-3 {
    background-color: #fdc62d;
  }

  .bg-color-5 {
    background-color: #00ff99;
  }

/* SCROLL BAR */
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(59, 59, 59);
  }

  ::-webkit-scrollbar-track-piece {
    background-color: rgb(20, 20, 20);
  }

/* LOADING */
  .loading {
    display: flex;
    justify-content: center;
  }

  .loading--full-height {
    align-items: center;
    height: 100%;
  }

  .loading::after {
    content: "";
    width: 25px;
    height: 25px;
    border: 3px solid rgba(128, 128, 128, 0.17);
    border-top-color: #00ff99;
    border-radius: 50%;
    transform: rotate(0.16turn);
    animation: loading 1s ease infinite;
  }

  @keyframes loading {
    /* Safari support */
    from {
      transform: rotate(0turn);
    }
    
    to {
      transform: rotate(1turn);
    }
  }
